gunicorn==21.2.*
altair==5.3.*
altair_tiles==0.3.*
appnope==0.1.*
asttokens==2.4.*
attrs==23.2.*
blinker==1.7.*
Brotli==1.1.*
certifi==2024.2.*
charset-normalizer==3.3.*
click==8.1.*
comm==0.2.*
dash==2.16.*
dash-bootstrap-components==1.5.*
debugpy==1.8.*
decorator==5.1.*
exceptiongroup==1.2.*
executing==2.0.*
Flask==3.0.*
idna==3.6.*
importlib_metadata==7.1.*
importlib_resources==6.4.*
ipykernel==6.29.*
ipython==8.22.*
itsdangerous==2.1.*
jedi==0.19.*
Jinja2==3.1.*
jsonschema==4.21.*
jsonschema-specifications==2023.12.*
jupyter_client==8.6.*
jupyter_core==5.7.*
MarkupSafe==2.1.*
matplotlib-inline==0.1.*
mercantile==1.2.*
nest_asyncio==1.6.*
numpy==1.26.*
packaging==24.0.*
pandas==2.2.*
parso==0.8.*
pexpect==4.9.*
pickleshare==0.7.*
pip==24.0.*
pkgutil_resolve_name==1.3.*
platformdirs==4.2.*
plotly==5.19.*
prompt-toolkit==3.0.*
protobuf==4.25.*
psutil==5.9.*
ptyprocess==0.7.*
pure-eval==0.2.*
pyarrow==15.0.*
Pygments==2.17.*
PySocks==1.7.*
python-dateutil==2.9.*
pytz==2024.1.*
pyzmq==25.1.*
referencing==0.34.*
requests==2.31.*
retrying==1.3.*
rpds-py==0.18.*
setuptools==69.2.*
six==1.16.*
stack-data==0.6.*
tenacity==8.2.*
toolz==0.12.*
tornado==6.4.*
traitlets==5.14.*
typing_extensions==4.10.*
tzdata==2024.1.*
urllib3==2.2.*
vegafusion==1.6.*
vegafusion-python-embed==1.6.*
vl-convert-python==1.3.*
wcwidth==0.2.*
Werkzeug==3.0.*
wheel==0.43.*
xyzservices==2023.10.*
zipp==3.17.*
